:root {
  --main: #31AFB4;
  --secondary: #115571;
  --tertiary: #cbcece;
  --fourth: #e9e9e9f3;
}

* {
  font-family: Tahoma, Helvetica, sans-serif;
  margin: 0 0 0 0;
}

@keyframes landing-title-fade {
  from {
    opacity: 0;
    margin-top: 0;
  }
  to {
    opacity: 1;
    margin-top: 5%;
  }
}

@keyframes landing-tagline-fade {
  from {
    opacity: 0;
    top: 20%;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

button {
  border: 2px;
  border-color: var(--tertiary);
  border-radius: 5px;
  color: white;
  background-color: var(--main);
}

button:hover {
  cursor: pointer;
  background-color: var(--tertiary);
  color: var(--main);
}

.form-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.styled-form {
  position: relative;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  background-color: white;
  width: auto;
  padding: 5%;
  margin: 10% 10% 10% 10%;
  display: grid;
  grid-template-rows: auto auto auto;
  font-size: 25px;
}

.form-boxes {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr auto;
}

.form-input {
  height: 25px;
  width: 400px;
  font-size: 15px;
  font-family: Calibri(body);
}

.form-x {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 50px;
  height: 50px;
}

.form-x:hover {
  cursor: pointer;
  filter: opacity(50%);
}

.card {
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: var(--secondary);
  height: 300px;
  width: 300px;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  background-color: var(--tertiary);
  color: var(--secondary);
}

.card:hover {
  cursor: pointer;
  background-color: var(--fourth);
}

.card-title {
  font-weight: 900;
}

#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 5% 0 5%;
}

#landing {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  /* background-image: url('./images/NPC-Background.svg'); */
  /* background-image: linear-gradient(
    135deg,
    var(--main),
    var(--tertiary),
    var(--fourth)
  ); */
}

#landing-title-pic {
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  animation-name: landing-title-fade;
  animation-duration: 2s;
}

#landing-description {
  color: var(--main);
  display: block;
  position: relative;
  top: 0;
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
  opacity: 0;
  animation-name: landing-tagline-fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#login-button {
  height: 40px;
  width: 180px;
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  top: 5px;
  right: 5px;
  background-color: #4285f4;
  color: white;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

#login-button:hover {
  box-shadow: 0 0 6px #4285f4;
}

.google-icon-wrapper {
  position: relative;
  float: left;
  margin-top: 1px;
  margin-left: 1px;
  width: 38px;
  height: 36px;
  border-radius: 2px;
  background-color: white;
}

.google-icon {
  position: absolute;
  top: 1px;
  left: 2px;
  height: 34px;
  width: 34px;
}

.login-text {
  float: right;
  margin: 11px 11px 0 0;
  color: white;
  font-size: 12px;
  letter-spacing: 0.2px;
}

#logout-button {
  height: 40px;
  width: 5%;
  top: 0;
  float: right;
}

.app-logo {
  /* add*/
}

#app {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-image: linear-gradient(
    135deg,
    var(--main),
    var(--tertiary),
    var(--fourth)
  ); */
}

footer {
  position: absolute;
  bottom: 0;
  color: black;
}

#header {
  display: flex;
}
