:root {
  --main: #1f7c7c;
  --secondary: #cbcece;
  --tertiary: #e9e9e9f3;
}

* {
  font-family: Tahoma, Helvetica, sans-serif;
  margin: 0 0 0 0;
}

button {
  border: 2px;
  border-color: var(--secondary);
  border-radius: 5%;
  color: white;
  background-color: var(--main);
}

button:hover {
  cursor: pointer;
  background-color: var(--secondary);
  color: var(--main);
}

.form-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.styled-form {
  position: relative;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  background-color: white;
  width: auto;
  padding: 5%;
  margin: 10% 10% 10% 10%;
  display: grid;
  grid-template-rows: auto auto auto;
  font-size: 25px;
}

.form-boxes {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr auto;
}

.form-input {
  height: 25px;
  width: 400px;
  font-size: 15px;
  font-family: Calibri(body);
}

.form-x {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 50px;
  height: 50px;
}

.form-x:hover {
  cursor: pointer;
  filter: opacity(50%);
}

.card {
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: var(--main);
  height: 300px;
  width: 300px;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  background-color: var(--secondary);
  color: var(--main);
}

.card:hover {
  cursor: pointer;
  background-color: var(--tertiary);
}

.card-title {
  font-weight: 900;
}

#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 5% 0 5%;
}

#landing {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    135deg,
    var(--main),
    var(--secondary),
    var(--tertiary)
  );
}

#landing-title {
  color: var(--main);
  font-weight: 800;
  font-size: 500%;
  position: absolute;
  display: inline-block;
  top: 10%;
  left: 35%;
}

#login-button {
  height: 40px;
  width: 20%;
  position: absolute;
  display: inline-block;
  top: 20%;
  left: 40%;
}

#logout-button {
  height: 40px;
  width: 5%;
  top: 0;
  float: right;
}

#app {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    135deg,
    var(--main),
    var(--secondary),
    var(--tertiary)
  );
}
