:root {
  --main: #31afb4;
  --secondary: #115571;
  --tertiary: #cbcece;
  --fourth: #e9e9e9f3;
}

* {
  font-family: Tahoma, Helvetica, sans-serif;
  margin: 0 0 0 0;
}

body {
  background-image: linear-gradient(to top, var(--main), white, var(--fourth));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes landing-title-fade {
  from {
    opacity: 0;
    margin-top: -5%;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes landing-tagline-fade {
  from {
    opacity: 0;
    /* top: 20%; */
  }
  to {
    opacity: 1;
    /* top: 0; */
  }
}

button {
  border: 2px;
  border-color: var(--tertiary);
  border-radius: 5px;
  color: white;
  background-image: linear-gradient(var(--secondary), var(--main));
  height: 40px;
  min-width: 100px;
}

button:hover {
  cursor: pointer;
  color: var(--tertiary);
  box-shadow: 0 0 6px var(--main);
}

#search {
position: relative;
float: right;
border: 2px solid var(--secondary);
border-radius: 5px;
}

.npc-section-header {
  font-weight: 700;
  font-size: 30px;
  color: var(--secondary);
  display: block;
  text-align: center;
}

.form-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 3;
}

.styled-form {
  position: relative;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  background-color: white;
  width: auto;
  padding: 5%;
  margin: 10% 10% 10% 10%;
  display: grid;
  grid-template-rows: auto auto auto;
  font-size: 25px;
}

.form-boxes {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr auto;
}

.form-input {
  height: 25px;
  width: 400px;
  font-size: 15px;
  font-family: Calibri(body);
}

.form-x {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 50px;
  height: 50px;
}

.form-x:hover {
  cursor: pointer;
  filter: opacity(50%);
}

.card {
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: var(--secondary);
  min-height: 22%;
  max-height: 100%;
  min-width: 20%;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  background-color: var(--tertiary);
  color: var(--secondary);
  box-shadow: -2px 2px 4px var(--secondary);
  transition: top 0.25s, right 0.25s, box-shadow 0.25s;
  position: relative;
  top: 0;
  right: 0;
}

.card:hover {
  cursor: pointer;
  background-color: var(--fourth);
  box-shadow: -5px 5px 7px var(--secondary);
  top: -3px;
  right: -3px;
}

.card-title {
  font-weight: 900;
}

.card-notes {
  max-height: 57px;
  overflow: hidden;
}

.card-name {
  font-size: 20px;
}

.name-border {
  border-style: solid;
  border-color: var(--secondary);
  border-width: 0 0 3px 0;
}

#card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10px;
}

#landing {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}

#landing-title-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  animation-name: landing-title-fade;
  animation-duration: 2s;
}

#landing-description {
  color: var(--main);
  display: block;
  position: relative;
  top: 0;
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
  opacity: 0;
  animation-name: landing-tagline-fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.login-button-container {
  margin-top: 25px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  opacity: 0;
  animation-name: landing-tagline-fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 1.25s;
}

.login-anchor {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}

#login-button {
  height: 40px;
  width: 180px;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #4285f4;
  color: white;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

#login-button:hover {
  box-shadow: 0 0 6px #4285f4;
}

#login-separator {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
  color: var(--secondary);
}

#sessionless-login {
  height: 40px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}

.google-icon-wrapper {
  position: relative;
  float: left;
  margin-top: 1px;
  margin-left: 1px;
  width: 38px;
  height: 36px;
  border-radius: 2px;
  background-color: white;
}

.google-icon {
  position: absolute;
  top: 1px;
  left: 2px;
  height: 34px;
  width: 34px;
}

.login-text {
  float: right;
  margin: 11px 11px 0 0;
  color: white;
  font-size: 12px;
  letter-spacing: 0.2px;
}

#header {
  display: flex;
  position: fixed;
  top: 0;
  border-style: solid;
  border-color: var(--main);
  border-width: 0 0 3px 0;
  width: 100%;
  background-color: white;
  z-index: 2;
}

#logout-button {
  height: 50px;
  min-width: 70px;
  margin: 2px 2px 2px 0;
}

.app-logo {
  height: 55px;
}

#header-buffer-1 {
  width: auto;
  flex-grow: 3;
  margin-left: 20px;
  margin-right: 20px;
}

#header-buffer-2 {
  width: auto;
  flex-grow: 3;
}

#header-pic {
  max-height: 50px;
}

#app-username,
#header-npc-count {
  color: var(--secondary);
  font-weight: 600;
  font-size: 15px;
}

#app-username {
  margin: auto 0 auto 20px;
}

#header-npc-count {
  margin: auto 20px auto 0;
}

.app {
  top: 60px;
  position: relative;
}

footer {
  position: fixed;
  bottom: 0;
  color: black;
  background-color: white;
  width: 100%;
}
